<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>TABS v SPACES</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!--  -->
  <!-- NEW -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/static/html2canvas.min.js"></script>
  <!-- uncomment the below line for local development -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
  <!--  -->
  <!--  -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Firebase App (the core Firebase SDK) is always required and must be listed first-->
  <script src="https://www.gstatic.com/firebasejs/7.18/firebase-app.js"></script>
  <!-- Add Firebase Auth service-->
  <script src="https://www.gstatic.com/firebasejs/8.0/firebase.js"></script>
  <script src="/static/config.js"></script>
  <script src="/static/firebase.js"></script>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>(•‿•)</text></svg>">



</head>
<body class="yellow lighten-5">
  <nav class="teal darken-3">
    <div class="nav-wrapper container"><a class="brand-logo center" href="#!">TABS v SPACES</a>
      <ul class="left" id="nav-mobile">
        <button class="waves-effect waves-light btn" id="signInButton">Sign In with Google</button>
      </ul>
    </div>
  </nav>

<!--  -->
<!--  -->
<!-- NEW -->

<div id="qr"></div>
<button id="qr_button" style="height:40px; width:80px; background-color: grey;">Generate Code</button>
<p id="daily_code"></p>

<button id="screenshot" style="height:40px; width:80px; background-color: lightblue;">Screenshot</button>

<img id="screenshot_img" src="" style="width:50%;">



<!--  -->
<!--  -->
<!--  -->

  <div class="section" id="form">
    <div class="center">
      <h4>{{leader_message}}</h4>
    </div>
    <div class="row center">
      <div class="col s6 m5 offset-m1">
        <div class="{% if lead_team == 'TABS' %}card-panel teal lighten-4{% else %}card-panel{% endif %}">
          <i class="material-icons large">》</i>
          <h3>{{tabs_count}} votes</h3>
          <button class="btn" id="voteTabs">Vote for TABS</button>
        </div>
      </div>
      <div class="col s6 m5">
        <div class="{% if lead_team == 'SPACES' %}card-panel teal lighten-4{% else %}card-panel{% endif %}">
          <i class="material-icons large">⎵</i>
          <h3>{{spaces_count}} votes</h3>
          <button class="btn" id="voteSpaces">Vote for SPACES</button>
        </div>
      </div>
    </div>
    <h4 class="header center">Recent Votes</h4>
    <ul class="container collection center" >
      {% for vote in recent_votes %}
      <li class="collection-item avatar">
        <i class="material-icons circle teal lighten-1">{% if vote.team == "TABS" %}》{% elif vote.team == "SPACES" %}⎵{%else%}❓{% endif %}</i>
        <span class="title">A vote for </span><b>'{{vote.team}}'</b>
        <p>was cast at {{vote.time_cast}}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
  <script>
    async function castVote(value){
      await vote(value);
      window.location.reload();
    }

    document.addEventListener("DOMContentLoaded", function() {
      // <!-- add Event Listener "click" to the vote -->
      document.getElementById("voteTabs").addEventListener("click", function () {
        castVote("TABS");
      });
      document.getElementById("voteSpaces").addEventListener("click", function () {
        castVote("SPACES");
      });
      document.getElementById("signInButton").addEventListener("click", function () {
        toggle();
      });

      // =======================================================================
      //NEW
      document.getElementById("screenshot").addEventListener("click", function () {
        screenshot();
      });

      document.getElementById("qr_button").addEventListener("click", function () {
        generateQRCode();
      });

      //generate unique qr codes for the same link
      function generateQRCode(){
        var key = "";
        for (let i = 0; i < 6; i++) {
          key += getRandomInt(9).toString();
        } 

        var QRElement = document.getElementById('qr'); 
        QRElement.innerHTML = "";

        new QRCode(QRElement, {
          text: 'https://www.wikipedia.org?'+key,
          width: 150,
          height: 150,
          colorDark: 'purple',
          colorLight: 'white',
        });

        updateDailyCode(key);

      }

      function updateDailyCode(code){
        document.getElementById("daily_code").innerHTML = code
      }

      function getRandomInt(max) {
        return Math.floor(Math.random() * max);
      }

      function screenshot(){
        html2canvas(document.body, {
          useCORS: true
        }).then(function (canvas) {
          // png file
          var screen_img= canvas.toDataURL('image/png');
          document.getElementById('screenshot_img').src = screen_img;
          sendToBackend(screen_img);
        });
      }

      function sendToBackend(img){
        fetch('/upload-image', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ image: img })
        }).then(response => {
          // then(response)
          if (response.ok) {
            console.log('Image sent to server!');
          } else {
            console.error('Failed to send image.');
          }
        });
      }

      // =====================================================================

    })
  </script>
</body>
</html>
